##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Jetbrains
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## VisualStudio
##############################
.vs/

##############################
## Cmake
##############################
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

##############################
## C++
##############################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JSON token
binarymatrixapproximation-*.json

##############################
## Thesis
##############################
*.log
thesis/Output/*
*.aux
*.bbl
*.loa
*.pdf
*.toc
*.synctex.gz
*.fls
*.blg
*.ddb_latexmk
*.nav
*.bdb_latexmk
*.snm

!thesis/figures